
 body {
   display: flex;
   justify-content: center;
   background-image:url(img/dragon.png);
   
   
   
 }

img {

  border-radius: 60%;
  cursor: pointer;
}

p {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 80px;
  font-size: 30px;
  border-radius: 65px;
 



}